<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="nopcom">

 	<listeners>
		<listener class-name="com.nopcom.utilities.Reporting" />
	</listeners>


	<test name="nopcom Test">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="com.nopcom.testCases.TC_HomeTest_001" />
		</classes>


	</test>



</suite>